.gameCard {
  position: relative;
  height: max-content;
  padding: 15px;
  border-radius: 10px;
  &__imgContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__img {
    width: 48%;
    height: 165px;
    border-radius: 5px;
  }
  * {
    color: white;
  }
  &__name {
    font-size: 1.4rem;
    margin: 10px 0;
  }
  &__status {
    display: block;
    margin-bottom: 15px;
  }
  &__descriptionText {
    margin-bottom: 15px;
  }
  &__price {
    display: block;
  }
}
